@page "/"

<section class="jumbotron text-center">
    <h1>
        <span class="main_title">Sportowe wydarzenia</span>
    </h1>
    <a href="authentication/register" class="btn btn-secondary btn-md active" role="button" aria-pressed="true">
        Dołącz do nas
    </a>
</section>
        