@page "/meeting"
@inject NavigationManager _navigationManager
@inject HttpClient http

<h3>Spotkania</h3>
<AuthorizeView Roles="User, Admin">
    <Authorized Context="Auth">
        <a class="btn btn-primary btn-md active" href="/new_meeting"> Zaplanuj nowe spotkanie</a>
        <h3>Lista Spotkań</h3>

        @foreach (var meeting in dto)
        {
            <div class="card text-center">
                <div class="card-header">
                    @meeting.Title
                </div>
                <div class="card-body">
                    <h5 class="card-title">@meeting.Description</h5>
                    <p class="card-text">@meeting.PersonalLimit @meeting.Place</p>

                    <a href="#" class="btn btn-primary">Dołącz</a><br />
                    @if (meeting.UserEmail == Auth.User.Identity.Name)
                    {
                        var editmeeting = meeting;    
                        <EditForm Model="editmeeting" OnSubmit="() => EditHandler(editmeeting)">
                            <button class="btn btn-primary btn-md active" type="submit">Edytuj</button>
                        </EditForm>  
                    }
                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>
            <br />
        }
    </Authorized>
    <NotAuthorized>
        Nie masz uprawnień
    </NotAuthorized>
</AuthorizeView>


@code {
    private List<MeetingDto> dto = new List<MeetingDto>();

    protected override async Task OnInitializedAsync()
    {
        dto = await http.GetFromJsonAsync<List<MeetingDto>>("meeting");
    }

    private async Task EditHandler(MeetingDto dto)
    { 
        _navigationManager.NavigateTo("meeting/edit/" + dto.Id);
    }
}
