@page "/new_meeting"
@inject NavigationManager _navigationManager
@inject HttpClient http
@using SportsMeeting.Shared.Dto
<h3>MeetingForm</h3>
<AuthorizeView Roles="User">
    <Authorized Context="Auth">
        <EditForm Model="dto" OnSubmit="HandleCreateMeeting">
            <div class="form-group">
                <label for="title">Title</label>
                <InputText id="title" @bind-Value="dto.Title" class="form-control" />
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <InputText id="description" @bind-Value="dto.Description" class="form-control" />
            </div>
            <div class="form-group">
                <InputSelect class="form-select" @bind-Value="dto.categoryName" aria-label="Default select example">
                    <option selected>Wybierz kategorię</option>
                    <option value="football">Piłka nożna</option>
                    <option value="golf">Golf</option>
                    <option value="volleyball">Siatkówka</option>
                </InputSelect>         
            </div>
            <div class="form-group">
                <label for="personallimit">Limit</label>
                <InputNumber id="personallimit" @bind-Value="dto.PersonalLimit" class="form-control" />
            </div>
            <div class="form-group">
                <label for="place">Place</label>
                <InputText id="place" @bind-Value="dto.Place" class="form-control" />
            </div>
            <button type="submit">Dodaj spotkanie</button>
        </EditForm>
    </Authorized>
    <NotAuthorized>
        <p>Nie masz uprawnień</p>
    </NotAuthorized>
</AuthorizeView>
@code {
    private CreateMeetingDto dto = new CreateMeetingDto();
    //private CreateCategoryDto category = new CreateCategoryDto();
    private async void HandleCreateMeeting() {
        HttpResponseMessage response = await http.PostAsJsonAsync("meeting/new_meeting", dto);
        _navigationManager.NavigateTo("/meeting");
    }
}
