.card {
    width: 100%;
    border: 2px;
    border-radius: 15px
}

h3 {
    text-align: center;
}

/*kolor zielony*/
.adiv {
    background: #271152;
    border-radius: 15px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 12px;
    height: 46px
}

.adiv2 {
    background: #271152;
    border-radius: 15px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    font-size: 12px;
    height: 46px
}

.form-control {
    border-radius: 15px;
    border: 1px solid #F0F0F0;
    font-size: 8px;
    padding: 5px;
}

.form-control:focus {
        box-shadow: none;
}

.form-control::placeholder {
        font-size: 8px;
        color: #C4C4C4;
}

.space {
    padding: 5px;
}

.btn {
    background-color: #271152 !important;
    padding: 5px;
    border-radius: 12px;
}

.btn btn-primary {
        background-color: #271152 !important;
        padding: 5px;
        border-radius: 12px;
}

