@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<AuthorizeView>
    <Authorized Context="Auth">
        <UserMenu />
    </Authorized>
    <NotAuthorized>
        <a href="authentication/register" class="btn btn-secondary btn-md active" role="button" aria-pressed="true">
            Zarejestruj się
        </a>
        <a href="authentication/login" class="btn btn-secondary btn-md active" role="button" aria-pressed="true">
            Zaloguj się
        </a>
    </NotAuthorized>
</AuthorizeView>

@code{

}