@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager
@inject HttpClient http

<AuthorizeView>
    <Authorized Context="Auth">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class='fas fa-user-circle'  style="font-size:24px"></i> &nbsp;
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <button class="dropdown-item" type="button" @onclick="EditProfile">Edytuj profil</button>
                <button class="dropdown-item" type="button" @onclick="BeginSignOut">Wyloguj się</button>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/register" class="btn btn-secondary btn-md active" role="button" aria-pressed="true">
            Zarejestruj się
        </a>
        <a href="authentication/login" class="btn btn-secondary btn-md active" role="button" aria-pressed="true">
            Zaloguj się
        </a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }

    private async Task EditProfile(MouseEventArgs args)
    {
        Navigation.NavigateTo("authentication/profile");
    }
}